/* Universal Styles */
@font-face {
  font-family: "Helvetica";
  src: url('/resources/fonts/Free-Sans-2/Helvetica.ttf') format("truetype");
}

html {
  font-size: 22px;
}

body {
  margin: 0;
  font-family: Helvetica Arial sans-serif;
  color: seashell;
  background-color: black;
  text-align: center;
  font-size: 22px;
  opacity: 0.9;
  background-origin: border-box;
}

a {
  color: seashell;
}

h2,
h3,
h4 {
  text-align: center;
  margin: 0;
  padding: 0.45em;
}



.flex-container {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}

/* Header Section */

header.flex-container {

  border-bottom: solid;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  width: -webkit-fill-available;

}





header {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 3.163em;
  background-color: black;
  align-items: center;
}

img.logo {
  height: 2.2727em;
  padding-left: 0.4545em;
  opacity: 0.8;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  font-family: Helvetica Arial sans-serif;
  font-weight: 600;
  font-size: large;
  display: inline-flex;
  justify-content: flex-end;
  padding: 0.9090em 0.4545em;
  opacity: 0.9;
}

/* Main Section */

.main {
  padding-top: 3.1363em;
  opacity: 0.9;
  width: 54.54em;
  margin: auto;
}

/* Mission Section */

#mission {
  display: flex;
  align-items: center;
  height: 32rem;
  background-image: url(../images/img-mission-background.jpg);
  justify-content: space-between;
  align-content: space-around;
  position: relative;
  top: 2px;
}

#mission .content {
  text-align: center;
  margin: auto;
  background-color: black;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#mission .content h2 {
  font-weight: bolder;
  font-size: 1.5em;
}

/* Store Section */

#store {
  height: 31.81em;
  width: 45.45em;
  margin: auto;
  padding-top: 3.1818em;
}

.item {
  padding: 0.2272em;
}

.item img {
  height: 9.0909em;
  margin: 0.4545em;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
}

#store h2 {
  font-family: Helvetica sans-serif;
  font-size: large;
  font-weight: bold;
  color: seashell;
  position: relative;
  margin-bottom: 3%;
  opacity: 0.9;
}

.item span {
  display: block;
  padding: 0.2272em;
  font-weight: bold;
  text-align: center;
}

/* Location Section */



#locations {
  background-image: url(../images/img-locations-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 23em;
  padding-top: 3.1818em;
  max-width: 100%;
  overflow: hidden;
  position: inherit;
  border-top: 1px solid transparent;
  display: inline-flex;
  flex-basis: 54.54em;
  flex-wrap: wrap;
  padding-left: 2.3rem;
}

#locations p {
  opacity: 0.9;
  line-height: 1.6;
  font-weight: 300;
  text-align: center;
}

#locations h2 {
  display: inline-block;
  position: relative;
  font-family: Helvetica Arial sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
  opacity: 1;
}

.flex-container.locations {
  display: flex;
  position: relative;
  border: 0.1em solid transparent;
  min-width: 49em;
  padding-top: 0;
  flex-wrap: wrap;
  bottom: 1.9rem;

}

.location {
  opacity: 1.0;
  margin: 0.2272em 0.909em;
  background-color: black;
  flex-basis: 9.09em;
  display: inline-flex;
  flex-direction: column;
  justify-items: center;
  line-height: 1.8;
  max-height: 9rem;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}

.location h3 {
  position: inherit;
  bottom: 0.9em;
  line-height: 2.5;
  font-size: larger;
  font-weight: bolder;
  font-family: Helvetica Arial sans-serif;
}

/* Contact Section */

#contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: auto;
  line-height: 2em;
  height: 9.09em;
}

#contact span {
  text-align: center;
  display: flex;
  font-family: Helvetica sans-serif, monospace;
  justify-content: space-around;
  font-weight: bolder;
  font-size: larger;
  opacity: 0.8;
}

/* Footer Section */

footer {
  display: flex;
  justify-items: flex-start;
  text-align: left;
  padding-left: 0.909em;
}